<launch>

  <arg name="optrisId" default="13120040" />
  <arg name="camera_node" default="optris_$(arg optrisId)" />
  <arg name="calibration_file" default="file://$(find optris_drivers)/calibration/optris_$(arg optrisId).yaml" />

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find optris_drivers)/custom_rosconsole.conf"/>

  <node name="optris_driver_node" pkg="optris_drivers" type="optris_driver_node" output="screen">
    <!-- Set configuration file of your camera here! -->
    <param name="xmlConfig"      type="string" value="$(find optris_drivers)/config/$(arg optrisId).xml"/>  
    <param name="thermal_frame_id"      type="string" value="thermal_images"/> 
    <!-- Camera calibration file -->
    <param name="calibration_file"  type="string" value="$(arg calibration_file)" />
    <param name="camera_name"  type="string" value="$(arg camera_node)" />
  </node>

</launch>
